<%= render 'browse' %>

<div class="source-card-container" id="source-container">
  <div class="ui three column grid">
		<% @sources.each_with_index do |source, i| %>
			<%= render 'source_card', source: source %>
		<% end %>
	</div>
</div>

<script>
	window.sourceList.component.attachTo('#source-container');
</script>