<div class="source-form-container">
	<h2 class="ui header">Add A Resource</h2>

	<p>Share a learning resource that you've found. Please include a unique description if possible.</p>

	<%= render 'form' %>
</div>