<div class="source-form-container">
	<h2 class="ui header">Add Your source</h2>

	<p>Share your unique source so that others can try it out. See the <%= link_to "FAQ" %> if you have any questions.</p>

	<%= render 'form' %>
</div>